{% extends "template.html" %}
{% block title %}MP Letters sent{% endblock %}
{% block body_attrs %}class="admin mp-admin-list"{% endblock %}
{% block head %}
  <script type="text/javascript" src="/lib/jquery-ui/js/jquery-1.4.2.min.js"></script>
  <style type="text/css">
    .row { margin-bottom: 12px; }
    .name, .letter { display: inline-block; }
    .name { width: 350px; vertical-align: top; }
    .letter { overflow: auto; width: 500px; height: 200px; background: white; border: 1px solid gray; }
  </style>
{% endblock %}
{% block body %}
  <h1>Letters sent to MPs</h1>
  
  {% for letter in letters %}
    <div class="row" id="{{ letter.key }}">
      <span class="name">
        {{ letter.name }} &lt;{{ letter.writer_email }}&gt;<br>
        {{ letter.t_created.strftime("%r") }}
      </span>
      <span class="letter">{{ letter.body|linebreaksbr }}</span>
    </div>
  {% endfor %}
{% endblock %}
