{% extends "template.html" %}
{% block title %}Settings{% endblock %}
{% block body_attrs %}class="admin mp-admin-list"{% endblock %}
{% block head %}
  <script type="text/javascript" src="/lib/jquery-ui/js/jquery-1.4.2.min.js"></script>
  <style type="text/css">
    body { margin-bottom: 50px; }
    #twfy_api_key, #favicon_url { width: 400px; margin-top: 1em; }
    #intro_markdown { width: 800px; height: 400px; }
    {% if settings.store_what == "nothing" %}
      #additional_opt_in { display: none; }
    {% endif %}
    #opt_in_checkbox_text { width: 800px; }
    #save_div {margin-top: 2em;}
    #save {display: block; margin-top: 1em;}
  </style>
  <script type="text/javascript">
    $(function() {
      $("form").submit(function() {return false;});
      
      function saveSetting() {
        var d = {};
        d[this.id] = $(this).val();
        $.post("/mp/settings", d);
        return true;
      }
      $("form input").keyup(saveSetting);
      $("form select").change(saveSetting);
      $("#store_what").change(function() {
        $("#additional_opt_in").toggle($(this).val() != "nothing");
        return true;
      });
    });
  </script>
{% endblock %}
{% block body %}
  <h1>Settings</h1>
  <form id="settings">
    <h2>TheyWorkForYou API key</h2>
    {% if settings.twfy_api_key == "UNSET" %}
      <p>You need to get an API key from <a href="http://www.theyworkforyou.com/api/key" target="twfy">TheyWorkForYou</a>, and paste it below.<br>{% endif %}
    <input id="twfy_api_key" type="text" name="twfy_api_key" value="{{ settings.twfy_api_key }}">
    
    <h2>Parliament</h2>
    <select id="representative_type" name="representative_type">
      <option value="MP" {% if settings.representative_type == "MP" %}selected{% endif %}>Westminster</option>
      <option value="MSP" {% if settings.representative_type == "MSP" %}selected{% endif %}>Holyrood</option>
    </select>
    
    <h2>Introductory text</h2>
    <textarea id="intro_markdown">{{ settings.intro_markdown }}</textarea>
    
    <h2>Favicon URL</h2>
    <p>The URL of your favicon, if you have one.<br>
    <input id="favicon_url" type="text" name="favicon_url" value="{{ settings.favicon_url }}">
    
    <h2>Information to store</h2>
    <p>What information do you want to store about your users?</p>
    <select id="store_what" name="store_what">
      <option value="nothing" {% if settings.store_what == "nothing" %}selected{% endif %}>Nothing</option>
      <option value="name_email_and_postcode" {% if settings.store_what == "name_email_and_postcode" %}selected{% endif %}>Name, email address and postcode</option>
      <option value="letter" {% if settings.store_what == "letter" %}selected{% endif %}>The whole letter</option>
    </select>
    <p style="font-size: 80%;">Please note that WriteToThem has a strict <a href="http://www.writetothem.com/about-privacy">privacy policy for its service</a>: if you store the letters, please inform your users you will be keeping a copy of their message, for what purpose and for how long.</p>
    
    <div id="additional_opt_in">
      <h2>Additional opt-in</h2>
      <p>Optionally, you can add an extra check-box that you use for whatever purpose you choose.
        Typically this would be an opt-in to a mailing list.</p>
      <input id="opt_in_checkbox_text" name="opt_in_checkbox_text" value="{{ settings.opt_in_checkbox_text }}">
    
    <div id="save_div">
      All changes are auto-saved, so this button does not do anything.<br>
      You can press it if that makes you happy.
      <input id="save" type="submit" name="save" value="Save changes">
    </div>
  </form>
{% endblock %}
