{% extends "template.html" %}
{% block title %} Write to your {{ representative_type }}{% endblock %}
{% block body_attrs %}class="mp-enter"{% endblock %}
{% block head %}
  {% if change_postcode %}
    <script type="text/javascript">
      $(function() {
        $("#mpform-postcode").select();
      });
    </script>
  {% endif %}
{% endblock %}
{% block body %}
  <div id="instructions">
    <h2>Why email your {{ representative_type }}?</h2>
    
    {% if intro_text %}
      {{ intro_text }}
    {% else %}
      <p class="red">Go to the <a href="/mp/admin/settings">settings page</a> and put in some introductory text.</p>
    {% endif %}
  
  <p>Get started by entering your details to the right.</p>
  </div>
  <div id="mp-form">
    <form method="GET" action="/mp/write">
      {% if change_postcode %}
        <div class="change-postcode">Enter the postcode where you’re registered to vote</div>
      {% endif %}
      {% if mp.error %}
        <div class="error">Error: {{ mp.error }}</div>
      {% endif %}
      <div>
        <label for="mpform-name">Your name:</label>
        <input type="text" class="mpform-field" id="mpform-name" name="name" value="{{ name }}">
      </div>
      <div>
        <label for="mpform-email">Your email:</label>
        <input type="text" class="mpform-field" id="mpform-email" name="email" value="{{ email }}">
      </div>
      <div>
        <label for="mpform-postcode"{% if change_postcode %} class="highlighted"{% endif %}>Your postcode:</label>
        <input type="text" class="mpform-field" id="mpform-postcode" name="postcode" value="{{ postcode }}">
      </div>
      {% if opt_in_checkbox_text %}
        <input type="checkbox" class="mpform-field" id="mpform-opt_in" name="opt_in" {% if opt_in %}checked{% endif %}>
        <label for="mpform-opt_in">{{ opt_in_checkbox_text }}</label>
      {% endif %}
      <div>
        <input type="submit" class="mpform-submit" name="submit" value="Find my {{ representative_type }}">
      </div>
    </form>
  </div>
  <div style="clear: both;"></div>
{% endblock %}
